extends ../../_common/layout

block content
  #news_detail.news_detail
    .context_common.context_common_detail
      .story_detail_context
        button.to_back 返回


  script(src="../../../static/js/detail.js")