extends ../_common/layout

include ../_common/banner

block content
  #newscenter.newscenter
    +banner({__data: {title: '斜揽残萧'}, __class: 'newscenter-banner'})
    .context_common.context_common_newscenter
      .newcenter_jianjie
        h4 致敬仍在奋斗中的我们：
        p 我们总认为时间还很长，却不料世事无常。很多人很多事，并不像我们期待中的哪般美好，终有一天，我们都会变老，皱纹加深，白发增多，腿脚跟不上了，身心累了……
        p 曾经，我们拥有让人羡慕的青春，有过无忧无虑的童年，可那都只是曾经，为了生活，日复一日，年复一年的打拼奔波，终于，我们明白：我们早已不在年少。
        p 日子一天天过，时间一秒秒走，我们都在慢慢变老。经历过太多的坎坎坷坷，见过太多的是是非非，我们终于明白，其实活着就是最大的幸运。
        p 人生最长不过三万多天，再长的时间也会变短。我们总说来日方长，却料不到世事无常，那些曾经陪伴我们记忆的人和事很多都早已逝去。
        p 前几天，年仅50岁的李咏因病治疗无效去世，看到消息的很多人都说，8090后开始失去了。其实想想，有多少8090后的人还会说自己仍在年少呢？
        p 李咏走了，我们也已经开始失去了，开始失去一些朋友，开始失去一些特权……生活的不容易，让我们开始学会面对现实，迎接生活的压力。
        p “有些人走着走着就散了，有些事看着看着就淡了……”当这句歌词响起，你是否还能想起那些曾经的人和事呢？时光荏苒，流年渐渐，有些人走着走着走到心里，有些人走着走着淡出视线。
        p 在生命的路途中，我们在失去的同时也在获得，失去的或遗忘或已成回忆，获得的或装在心里或握在手里。人生，不正是一个不断得到和失去的过程吗？生命何其之短，我们无法选择出生，就让我们在变老的路上，选择好好的活着吧。
        p 在变老的路上，好好善待自己，你没有那么多时间去犯傻，没那么多青春去挥霍，好好爱自己才不会被时光辜负，你的真情和温柔要留给那些爱你的人。
        p 在变老的路上，成熟点吧，你不再是孩子，没人会为你的人生买单，你所走的每一步，都作数，所做的每一个选择，都很重要。
        p 往后余生，每一次的付出与努力，困难与挑战，都是为了遇见下一个更好的自己。所以，在变老的路上，懂得接受吧，好的坏的都将会以另一种方式回报你。
        p 时间易逝，容颜易老，往后余生，请为了爱你和你爱的人，用心地活着，开心地活着吧！
        p 遇见你真好，想陪你到老……