.context_common_detail
  padding-top: 56px!important
  .story_detail_context
    responsiveStyle(padding, 0, 0 50px)
    position: relative
    .to_back
      position: absolute
      width: 60px
      height: 30px
      right: 0
      top: 20px
    h2
      line-height: 60px
      text-align: center
    img
      display: block
      responsiveStyle(width, 100%, 800px)
      responsiveStyle(height, 222px, 400px)
      margin: 20px auto
    p
      text-indent: 2em
      