
.context_common_newscenter
  // background: url('http://img3.iqilu.com/data/attachment/forum/201311/11/210733m9br89nvxvvu9uuz.jpg')no-repeat
  // background-size: 100%

.newcenter_jianjie
  responsiveStyle(width, 100%, 760px)
  responsiveStyle(background, #f5f5dc, url('../images/tofuture.png'))
  margin: 0 auto
  color: #6a6a6a
  responsiveStyle(font-size, .8rem, 16px)
  responsiveStyle(padding, 1rem, 60px)
  responsiveStyle(border-radius, 1rem, 0)
  h4
    line-height: 40px
  p
    margin-bottom: 10px