.context_common_research
  height: 500px;
  h4
    text-align: center
    responsiveStyle(line-height, 3rem, 80px)
  .research_content_box
    display: flex
    responsiveStyle(flex-direction, column, row)
    .research_city_sle
      width: 100%
      .city-select
        width: 100%
    .research_laydate
      width: 100%
      responsiveStyle(padding-left, 0, 3%)
      responsiveStyle(padding-top, 1rem, 0)