extends ../_common/layout

include ../_common/banner

block content
  #about.about
    +banner({__data: {title: '红尘画卷'}, __class: 'about-banner'})
    .context_common.context_common_about
      h3 请为我选择生命
      p 她是兰心蕙质的女孩子。很多男孩子喜欢她，围绕在她的身边。她不说拒绝，也不说喜欢，总是淡淡的，对待每一个人都一样。
      p 这样一过便是几年。不断有男孩儿离开，也不断有男孩儿加入追求的行列，但她的冷漠让男孩儿们渐渐烦躁，终于一个个离开，最后，她身边只剩下了一个男孩子。
      p 这个男孩子从相识那天便成为她的朋友，当围在她身边的男孩儿较多时，他会和她走得远些，十天半月来一个电话，问她可好，但是当她身边无人时，他又会出现在她的生活中，近距离地关心着她，陪伴着她，当新的追求者出现，他又会默默地退出。
      p 这一切她自然看在眼里，有一次，她问他，为什么这样做？
      p 他说，不想让你寂寞。
      p 很普通的一句话，让她差点落下泪来。但她却想，真正爱一个人仅仅这样还是不够的。
      p 在所有的追求者中，他是最普通的一个：普通的长相，普通的工作，普通的家境，甚至连他的人也是那么普普通通，但却透着平实。
      p 然而却是他，从头至尾地陪着她，从青春靓丽的20岁，一直陪伴到28岁，她已经进入到大龄女子的行列
      p 她心里认定他或许就是那个陪伴自己一生的人了。但她的心里，还有最后一个问题。这么多年了，她没有谈过一场恋爱，因为她一直在等待那个值得她提出这个问题的人。
      p 她语气平缓，仿佛在讲述一个与自己无关的故事：一个女孩儿，在16岁那年，水库边，遇到了歹徒。在她拼命的反抗中，那个歹徒指着水库，对她说，要么跳下去，要么顺从我。在生命和耻辱的选择中，女孩儿最终选择了耻辱。
      p 她问他，这个女孩儿的选择正确吗？如果你是她的恋人，你是希望她跳下去淹死呢，还是接受耻辱呢？他心里已经明白，那个女孩儿就是她了，那一刻他才明白这么多年来她为什么一直拒绝着爱情。她说，你不必急着回答我，我给你12个小时，明天再回答我吧，如果不愿意不回答也可以。
      p 第二天，他带着一束玫瑰花来了。他说，假如我心爱的人遇到这种情况，我希望她为了我选择生命。和生命相比，贞操又算得了什么？我不能容忍我的爱人因为所谓的贞操离我而去，所以请为我选择生命。
      p 她扑在他的怀里哭了。这么多年来，她一直质疑当初自己的选择是否正确，尤其回想起当时那不堪的一幕。但是今天她终于庆幸，她选择了生命。所以她才拥有了这份世上最美丽的爱情。
      h3 爱情的胎记
      p 他们是大学同学，他爱上了善良温婉的她。唯一美中不足的是她的左脸颊上有一块天生的铜钱般大小的褐色胎记。
      p 最初恋爱的时候，她也曾试探着问过他，要不要把这块胎记除去。他气恼地告诉她，他喜欢她的不仅仅是外表，他爱她包括她与生俱来的那块印记。她感动得在他怀里落泪。
      p 大学毕业后，他们结了婚，并把他在乡下寡居的老母亲也接了来。他一路从一个小职员渐渐坐上了部门经理的位子。事业有了发展，他的应酬多了。有一次出席一个活动，需要家眷同去。她连妆也没化，穿着平日的一件工作服就去了。满场的华服艳影，她成了一个不那么和谐的音符。
      p 第一次，他发现她脸上的那块胎记竟是那样刺眼。
      p 那夜他轻声地和她商量，要不，去医院把胎记弄掉吧，也花不了多少钱的。她没有回答，他看不到，她那块胎记上正有泪滑过。
      p 次日，女人不见了，他发现了女人留给他的字条：“如果你已经不再爱我，即便我除去胎记又能挽回些什么呢？不如，离婚吧。”男人开始认真思考这个问题。
      p 可是，男人很快就发现，凡是他所能想起的，全是女人的好。那一切早就像胎记一般烙印在自己的心底，永远也无法抹去。
      p 他唏嘘不已，慌忙赶往岳母家。
      p 她见他来，肿着红红的眼，把起草的离婚协议递给他。他一把抓过，狠狠撕毁。然后，他把惊诧不已的女人拥进了怀里。他说：“我们该有个孩子了。”女人又一次落泪了。
      p 第二年的冬天，婆婆抱着三个月大的大胖孙子笑得合不拢嘴，并且发现儿媳妇脸上的胎记竟然不见了。男人紧张地解释自己真的不再在意那块胎记。女人却笑了。她甜蜜地依偎在他的怀里说：“既然有没有胎记都不影响你对我的爱，我为什么不选择自己变得美丽一些呢？”他心中释然。
      p 原来，爱情是真的能让女人变得美丽的。而同样美丽的，是那些见证了他们一路蹒跚的爱情的胎记。
      h3 两只相依相偎的小鸟
      p 她长得一点也不好看，眼睛小小的，皮肤黑黑的，脸上满是痘痘。她在这个城市已经生活3年了。她只是一所小医院的护士，每月收入只有1500元，这些钱，在这个城市里只够吃饭租房的，因此，3年来，她没积攒下一点钱。
      p 一天，她突然接到父亲的电话，要来这个城市看病。父亲近年来总是腰疼，医生说可能是肾出现了问题，父亲想来这座城市的大医院确诊。
      p 她知道父亲不会带多少钱，父亲每年种地挣的钱刚够一年的吃用，家里没有存款，父亲在村里也借不到多少钱。
      p 她从没跟父亲说过在城里挣多少钱，每次回家，只对父亲说她在城里生活很好，她不缺钱。
      p 她是护士，她知道在这个城市里，病人一旦住院要交多少钱。可是，她翻遍了租住房子的每个角落、每件衣服的口袋，只找到400余元。她在脑中想遍了相熟或不太相熟的有限的朋友、同事，突然发现，她和父亲一样，在这个城里也借不到钱。
      p 不是她人缘不好，是要借的钱数额太大了。她一个工资又少，又是不起眼的小护士，别人借她三五百元尚可，谁会一下借给她1万元呢？
      p 泪眼迷蒙中，她想到了他。
      p 他是她的同乡，是回家过年时在火车上偶然碰到的。他是一名电焊工，在一家造船厂上班。第一次遇见后，他就没断了和她联系，为了和她拉近关系，他还召集了一次同乡会。
      p 在那次同乡会上，她有意喝多了，就是不想给他留下好印象。不过，听他说着那些亲热的话，她还是被小小地感动了。
      p 聚会结束后，他打车送她回家，怕楼道黑不安全，他一直送她到租住的楼层，帮她用钥匙打开门。他又帮她烧好开水，泡好了茶，看她喝下整整一杯茶，他才关好门，下楼回家。这样的过程中，他没像其他男人那样，借着替她做事之机，碰她这碰她那，这也让她有点小感动。
      p 第二天早起，她头有些疼，不想做饭吃，穿好衣服准备上班时，发现桌子上有一大包牛肉干，那是她最爱吃的零食。她知道这牛肉干是他带给她的。将牛肉干一条条撕扯着吃进嘴里时，她知道他是个正派、温和、细心的男人。
      p 可是，他却不是她想要嫁的男人。他们都来自乡村，她嫁给他，两家的根都在农村，她几辈子才能洗掉清贫，几辈子才能成为城里人！
      p 她和他平淡地交往着，但她打定主意不赴他的饭局，也不和他逛商场、公园，更多的时候他们会在电话里“煲粥”。每次，都是他耐心地听她倾倒她数不尽的烦恼，这一倾倒就是3年。
      p 她是和他一起去火车站接父亲的。父亲见到他时，瘦瘦的脸上浮起了笑意，从父亲的眼神中，她知道父亲错把他当做她的“男朋友”了，她不愿意去更正父亲的误解，任由父亲跟在他身后去医院，然后陪着父亲坐在医院的长椅子上，看他跑前跑后挂号，找医生，然后，两人一起陪父亲验血、验尿、拍片
      p 这一套检查程序下来，她和他都精疲力竭了，好在父亲并没有大事，只是肾盂肾炎，医生开了些药，父亲就可以回家了。
      p 送走父亲从火车站回来，她没让他打车，两人挤挤挨挨地坐着公交车，望着车窗外闪过的城市，她突然泪流满面。
      p 他给她擦泪，她没躲闪，说：“2万元要过段时间才能还给你，谢谢你，是你让我在这个城市里还能借到钱。”
      p 他的眼圈也红了，说：“我想请你帮我把那笔钱存到银行，然后存折拿在你手里，我怕丢，你愿意吗？
      p 她知道他说这话是什么意思，她点点头，应下了他这个要求。
      p 她和他都含泪笑了。
      p 父亲这一病，让她知道，她虽然生活在这座城市，但她只是一只游离于城市的小鸟。她卑微，融不进这个城市里她向往的那个层面。在这个世界上，除了同样来自乡村的他，也许再也不会有人肯借1万却拿了2万元给她，也不会有人耐心地做她的“垃圾桶”，听她倾倒了3年的不开心。
      p 他同样也是游离于城市的小鸟，两只小鸟相偎可以取暖。
      p(style="color: #ccc; cursor: pointer;") 以上文章摘自小故事网 http://www.xiaogushi.com，如有文章侵犯作者权利，请联系本站删除!
