extends ../_common/layout

include ../_common/banner

block content
  #about.about
    +banner({__data: {title: '红尘画卷'}, __class: 'about-banner'})
    h2.style_two ꧁༺ 似水流年，那一席梦的芳华 ༻꧂
    .context_common.context_common_about
      h3 时光流转，嫣然浅笑
      p 阔别文字两年，我很少写字，在空闲里用很多时间来阅读，有朋友说，悄然幸福了，所以不写了，我只能说，幸福有时跟文字无关，呵，真不承认自己是个口是心非的人，怎么掩饰才能逃脱欲盖弥障的嫌疑？
      p 两年，深深浅浅的时光边缘。改变了多少人与事？停留在今季的秋，雨沐秋风，碎柳翻飞，时光河流渡过的一叶轻舟，乘载了多少烟雨柔情，我只是轻轻一拨，便如那一弦流水飞逝。
      p 时光，让我成了光年外那个安静的女子，安生在一个小城，素衣素颜。午后的时光静好，轻柔的音乐弥漫在空气中，一杯清茶散着清雅芳香。我正享受文字的饕殄。风吹过窗台，掀起了窗缈，阳光蔓进了窗棂，天边的蓝，净洁如洗。柔柔的浪漫渗入心间，泭生出淡淡的安宁，雕刻出时光的静美。
      p 时光赐予，我已能安然面对流年中的寂寞及零落满地的凄苍。对于际遇已不再埋入过多的期盼与幻想。站在季节之上，仰望空中的云层，一季一季，很多记忆是流年用一笔蓝墨水彩缀点的青春，纯净的蔚蓝，风清云淡，如诗静好。生活一直很平淡，爱是简单归宿，不再用苍，白指染年华最初的美丽。流水依依，朦胧漂泊的如烟记忆只能静静的观看，我掬一泓秋水，把缠绵悱恻的往事，绎写成诗，反复的阅读。
      p 落花寂寂，嫣红遍地，一个回眸，风景中的笑颜便沦陷成如今烟雨中的惦念。一些人，一些情，依然索绕着明媚的暖香。婉转流年，无法洗白它的灿烂。看一段红尘描摹，临画一骑妃子笑，以昨日的把酒欢歌，埋葬那红了樱桃，绿了芭蕉的春花秋月惨淡，任岁月在我的指尖留下几许沧桑，落字成韵，在年华中低吟浅唱。
      p 脉脉秋风，落叶清凄，繁华褪去，散不去的是人生中的浮华悲欢，那些青春如歌的板行，成了年华中一副精雕细刻的墨青。时光淡出是年华中的那一份爱，那怕隔了千山万水，那怕最被的一映桃红已辗落成尘，牵念依然在。因为爱，所以不曾绝望，因为懂得，所以不忧伤。
      p 我知道，有一些东西必须丟弃，一抹陈年的悲怅，一幕烟雨坠落的忧伤，一怀可能覆盖明媚的哀戚忧思，一袭徘徊在记忆边缘的寂寞。善于遗忘，便能获得更多幸福感，那么微笑吧，浅浅一笑，是明媚，是清欢。我知道，有些思念仍然在的，我在时光中等待轮回，你是我笔下的神话与期许，于是，我种下一颗红豆，等待它萌芽，就像初次邂逅的萌动与欣喜。
      h3 如果福还没有来，请慢慢等待
      p 与多年不见的朋友相聚。露天咖啡厅，袅袅的咖啡香，落日映红霞，余晖洒落在我们身边，如一幅阵年遗香的挂画。岁月横隔在彼此间，那些遥远的念想溶入静美的年华中，时光宛如迟暮美人，盈水邀月，横笛玉音，轻纱漫舞。只是如花美眷，又怎敌似水流年。
      p 朋友说能不能不忧伤？我想我的忧伤只是时光罅隙落下的几分苍凉， 多年以后，回过头，我看见那瓣明媚，已腐败在幽深的流年中，回不去，摸不着。我在寻找的过程中，有些东西被我抛弃、有些已被遗忘。
      p 流年只是一剪浮云，一步一落花，一念一回首，时光中尽是风干的落红。晦暗了青葱年华，千回百转，溯水茫茫，尘光阴两岸，隔尘相望，望不穿尘缘如烟，剪不断理还乱那袭岁月慕思。
      p 清风细雨几度秋凉，秋雨中拈一抹被打湿的花香，看一排雁儿飞过灰白的天际，如一苇远航穿过海浪，荡漾起记忆里的一股忧伤，那份思忆依然缠绵悠扬，除了坐看妖娆花开云烟，繁华处，风花沾霜，雪月破碎，是否不再惆怅？用一个静寂的午后，煮一壶清茶，静静追溯一段旧时光，写一段人生，执笔留一段清丽。
      p 只是无法墨笔书情，心似流水，潇潇绵绵，一落笔便泪诗千行，我想繁花锦绣，却只能满笺清凉。往事如烟，终究不能透穿过时光的荒芜，写那些记忆，作永久的留念，等一天我白发苍苍，是否还能忆起，曾经彼岸天涯，那年的杯樽欢歌，豪迈人生。淡漠的将往事云海飘散，心境如镜笑看沧海桑田。
      p 我一直认为幸福遥遥不可及，一直在不远的地方，虚幻缥缈。幸福总是在追求中，被欲望所蒙蔽了双眼，而略视了感恩。相遇是幸福，等待是幸福，流过的泪，听过的歌，悠闲时光的涂鸦与描述是幸福。幸福是爱情的光焰，从开始的微微星光，或者轰轰烈烈，到平淡似水，与爱情有关的日子，对视眼眸中的点点柔情，那些相伴，期诺。十指紧扣，漫步黄昏的风景中，赏花开花落，做一起慢慢变老的梦，在浪漫中弥酿，在时光中相依，看细水长流，剪折无数的欢笑与感动。幸福有期盼，有失望，有疼痛……疼痛会消逝，伤疤会愈合，丰富了我们世界，让我们懂得，辜负。亦成慈悲。
      p 我一直在寻找，在时光中辗转，不知道年华中是否还有以柔软与我安然相依，抵达内心，纯粹无瑕的幸福感。小四说过：红莲即将绽放，幸福如果还没到来，请慢慢等待。在努力，因为候望，以幸福的姿势，拒绝失望，拒绝忧伤。不落寞，不绝望，就不会遥遥无期。
      p 要相信，对幸福，我们都有追求的欲望，幸福其实在不远处。如果幸福未来，请用心等待，幸福在靠近，请用心对待。我的幸福，过着油盐相伴的日子，做你的妻子，为洗衣，吃你炒的菜，夜里相拥而眠，清晨醒来，互道早安。没有猜忌，没有生疏离，平平淡淡，安稳知足。
      p 阳光明媚，秋风悠扬。棒一杯咖啡，读一本好书，或者写上一段文字，墨砚中，时光依然，芳菲盛茂，越过今生的尘烟，飘凌中，获得沉香缕缕。一切一切皆是幸福。
      h3 亲爱的，你说每一朵花都是伤口
      p 雾里花开，容颜绝世，只可以温暖一季流年。灿烂的过程，一朵花开的时光，如月光倾城，洒下净纯如雪，氤氲迷漓，有些美好，被苍穹无际的时空穿过，在如雪的光华中，凝固成水墨幽深的画轴。
      p 张爱玲说：爱是含毒酒。爱本来很奢华，但是很多人抢着买单，可遇不求，千金难买，自然难能可贵。能爱便是幸福。哪怕落得怀抱一场奢华的伤感。我会每年春季种下一颗花树，看饱满的花苞绽开，花开满树，然后在时光中，沿着花开的旅途行走，看很多故事都如花盛在妩媚的春风里。
      p 有些温柔可以刻骨铭心，成了内心的一寸柔软。一经触碰，就会疼痛，会想泪流。多年以后我才深切的了解，为何越遗忘，越美丽，因为有些人不见了，可以思念，有些歌不唱，依然在记忆中回旋，花谢了，芳香犹存，你走了，爱情在我的思忆中。
      p 某些如花绚丽盛放过的东西，那么花谢去，却不会在时光中腐烂。经年以后，伤口不再，思念仍在，纯纯的在心底一角，亦如一朵花开的轮回，不言败。懂得，为你绽放，亦是幸福。 因为回忆内心没有欠缺，没有遗憾，所以不落欢。
      p “缘份宛如天边的浮云，只要善于把握，就会有交集，有珍惜，就会有延续。”张小娴的句子，希望的美好，用心过后，依然错过，离殇似雨，碎了断了，的昨天，在各自己的世界，留下潮湿的印记。比喻我在看你的故事，故事无关于我，却被疼痛穿过心脏。平凡的幸福是纠缠不清的，我要的，可以不太美丽，简约不失温馨。请不要躺在往事的余香里，不要让苍凉拥抱孤独的心。
      p 你说每朵花都是伤口，我懂你欲诉还休的情怀，那些如花绚烂的青春，已零落在记忆彼岸，散落天涯。那些情，那个人，宛如流星，在你的天空闪耀而过，剩荒凉，当我的手指滑过那旧时光的雕刻下的字句，那行字像刺一样，割痛了我的手指，浅浅的痛楚划过我的心脏朦胧了我的视线。当时光把的微笑已被搁浅，我想把那些时空相隔的人与事写成童话，时光与你都不曾焦悴。
      p 喜欢一句话：失去的叫礼物，眼前的叫幸福。有些人，浓香似酒，痴狂如一场宿醉，一场春梦，梦过无痕。怀念不是唯一的寄托，总会有一个人，安然中守护，不离不弃，因为你眉目中的悲伤而痛心。请不要忽略现在陪你看花开花谢，云起云归的那个人。你看，年华静美，明媚如初，你看，岁月如诗，流光千转百折，一朵微笑，便能盛开幸福的味道。
      p 时光美好如初，遇上你是一生的温暖，幸福就在风中飘落一地的暖花，柔风缱绻了满园落美。我曾用一朵花开的妩媚换你一个凝眸，请你为我而留吧，你的一个转身，我便风干了容颜。你听见花开了吗？那是我对你的呢喃诉语。你听见花落了吗，那是一场对苍凉与疼痛的祭坛盛典。剩下的，安然静守，幸福微笑。
      h3 似水流年，那一度梦的芳华
      p 我站在阳台上，看雨悠扬的落下，坠落一地的迷漓尘烟。
      p 我习惯一个人，习惯了孤独，习惯了用笔在纸上写字，躲进文字里，默默纪念那经年弥留的残香，无数的桥段。穿流不息的人流里的邂逅，如绕妖花树下，弥漫的阳光下执手，也会在午夜的街角，回顾那个画面，你向左，我向右的背道而驰，曲终人散，静默中生成绝望花儿，一经触碰，花粉四散，满指苍沧桑！世间还有我刻在一泓秋水里对你诺下的誓言么？纷纷扰扰的轮回，风凉了那些叮咛，吹散了风月情浓。
      p 我不想写情，一生牵念成画地为牢的忧伤，我不怨恨，我想流年，会让世事变迁，改造了桑田，变了沧海，光年中，沉淀的记忆，红尘深景，犹如隔世花影，剪烛写诗，将刻骨的爱恋细心珍藏。
      p 素锦年华，静走在荒芜的岁月中，编辑一段天荒地老，一纸盟约，一世和平。以安之若素的意境去看世间浮沉，曲终人散。拈一瓣心香，把一幕幕悲伤，化作一场场懂得的慈悲。
      p 风动的岁月，吹过一纸素笺，流年已换，悲殇成结，一个转瞬，鬓染华霜，让文字与我相依，睡睡醒醒吧，无关风月，不悲怆，不泪流。
      p 一场相思，醉也好，醒也好，今夜，我们不谈情，不谈爱，来谈谈今夜的风景。
      p 月色如水潋滟，一朵朵的云静静流淌，淡了吧，那荡气回肠，千柔百结。有些东西，思而勿乱，有些感情痛而勿恨。其实，只要一个转身便后悔无期，不必做一个苦情红颜。那么你看，月似梨花，洒落漫天的白，如此净洁无瑕。而月下的伊人，一身雪白的华衣，静立阑珊处，静雅出尘。回眸处，花开成大，绕成花墙，蝶翩跹弄影。流动的思绪，旧了的模样，碎片的影像也能凑出幸福的模样。记忆深处的人和事不停倒带，清晰，明艳，在白月光的熏染下，梦幻唯美。
      p 那些时光中的碎念，那些已黯淡了的梦想，在纷飞中，铂上一层淡淡的光，暮色如一层轻纱，包裹了一位绝美的佳人，在轻柔中翩然起舞。一片一片如羽的纯白散开幽幽的花香。
      p 这夜。我观了一夜梨花雨，我倾听了一夜的白月光，我深知没有什么永垂不朽，就像月下的佳人，青袖一挥，便将流年中深刻的眷恋落在我晦涩的眼眸中。我这夜在如烟似岚的风景中黯然的睡去。岁月薄凉，水墨幽深。
      h3 朦胧醉伴花雨月，痴缠红尘相思阑珊
      p 记忆跟一座城市有关。时光在城市中铬下过多的青春痕迹，铭下的温暖与忧伤都会在某些午夜，明媚，或灼痛我的心房。是不是每个繁华的城市，总承受了太多不为人知的秘密或者深深的孤寂。
      p 那季的樱花烂漫倾城，阳光弥漫，我那袭绿衣裙，在风中划出美丽的翅膀。花丛间的芬芳，几张纯真的笑靥，神彩飞扬。他们是在美丽的岁月中我遇上最美的天使，他们有着清澈的眼眸，他们的身散发着阳光的煦暖。伴我走过花季，共享花事，伴我走过雨季，教会我什么是爱，在风雨中，一站一站。
      p 我如此感谢相遇，那些欢聚成了我今生最值得回味的记忆。背负那些温暖，是我一生的寄望，因为他们，我想过安生一个城市。盛放的青春岁月，太多的美好与一座城市相连，然而，那里有相聚，就有离愁，人生如旅途，总有些人在旅中消失不见。很多记忆再美，也只不过一梦浮云，回过头，经历了，成长了，那时光中的人儿，恍如隔世。
      p 当我离开的时候，雨似鹅毛的飘渺，冷凛潮湿的空气中有凝固的兰香，涌挤的人潮，落寞的车站，风驰而逝的列车，一座城市，一场欢聚，一场落难般的逃离。站在烟火下的我，回首，也能看到一切一切恍若烟花消逝，人比烟花寂寞。
      p 多年以后，我想起那座城市，除了鮮艳而模糊的的青春岁月，我只记住了城里的车水马龙，人山人海的涌挤，以及霓虹闪耀，处处灯红酒绿，处处是迷漓的风情。
      p 我想那怕红颜老去，青丝染霜，无论历尽多少风霜，无论历尽了多少人，多少悲欢离合，多少人拭图在城中刻下印记，都只是一个人的历程，辗转流漓的只是城里的人儿，一场邂逅，一场欢聚，便各自天涯。它不会因为那么多的变幻沧桑，生离死别而千疮百孔。它依然披散物质腐败的味道，冷漠，浮华。
      p 今季的天已凉，秋要结束了吗？我不期待冬天，南方的冬天不下雪，湿漉漉的阴凉。但是繁华的春要经一季的寒冬，才能春暖花开。朋友皱眉说，悄然，可以不忧伤么。亲爱的，怎么样的忧伤都可以跟随时光穿越而过，如冬来了，捎一片晶莹的雪给我，但愿我忘掉那大片大片写满忧伤，翩跹落地的繁花。
      p 如果冬天，没有银装锦绣，你就送我一缕阳光或者一束烟火吧，等春暖，花开满城，流年馨暖，我送你一园花香。毕竟回忆怎么美，只是回忆，回不去。我能做到的只有珍惜现在，珍惜生活中每个人，每个相逢，珍惜每份爱，每个拥吻。日后无悔。微笑吧。
      h3 时光静美，落笔生花
      p 很多美丽的东西都如同一袭烟火的瞬息，炽热燃烧，梦幻绚丽，然后就是纷纭坠落的那一幕无法触摸的寂寞。恋上一指美丽，总收藏着行走轨迹中落下的点点灿烂，当流年成了一座空城，那些点点滴滴释珍的无数灿烂瞬间装点漫温长夜，便不会那么孤独。
      p 我祈求时光把记忆带走，我的微笑留下，幸福与寂寞都顺其自然，再无更多的执悔，至始保存着一朵花般的微笑，婉约情真，即使孤单，即使困苦，有生之年让带着我的纯白与微笑去寻找我生命中的天使。
      p 张小娴说过：要做这样的女子，面若桃花，心深四海，冷暖自知、真诚善良、触觉敏锐、情感丰富、坚忍独立、缱绻决绝。我也想做这样一个女子，看庭前花开花落，听梧桐叶落细雨敲。我希望年华中的我亦如文中的女子，矜持婉约，妩媚清丽，相信爱情，相信宿命，对生活柔韧有如。缠绵、动心，安然美好。
      p 我爱文字，文字依然能带给我感动或者更多安慰，就像空间那些热爱生活或文字的男子，女子，只要靠近，便能让人心生暖意，滋生怜惜，或者懂得的情愫。静美的时光，与文字对韵，指尖生花，一簇一簇的心事，一缕一缕，丰盈繁华。浅浅的阳光，灿烂了花语，粉紫中，沾染我淡淡情怀。
      p 年华是我手中墨，一点一滴，都是我对爱情，对生活最好的诠释，我依然希望我的文字雅致，唯美，有着莲的清灵，静美。墨笔溢香，凌乱的文字在墨香里会晕染开一朵朵的莲，心事如莲，朵朵艳红兀自妩媚盛放，清姿绰约，瓣瓣芬芳。我想用华丽的词藻去修饰我生命中的美好，或者忧伤，或幸福。将初的纯静，淡雅，浅浅的青涩，绣染成丹青，永远保持那干净澈彻。我说过，你是笔下的期许与寄望，想你的时候用绵绣的文字，编成一律音韵，用生涩的身姿跳一支舞，在我或悲或喜的时候，自导自演。只是我想，有天，我的指间荒芜，再也写不出妖娆唯美的文字，年华中我终于把你弄丢了，我会不会泪流满面？
      //- h3 请为我选择生命
      //- p 她是兰心蕙质的女孩子。很多男孩子喜欢她，围绕在她的身边。她不说拒绝，也不说喜欢，总是淡淡的，对待每一个人都一样。
      //- p 这样一过便是几年。不断有男孩儿离开，也不断有男孩儿加入追求的行列，但她的冷漠让男孩儿们渐渐烦躁，终于一个个离开，最后，她身边只剩下了一个男孩子。
      //- p 这个男孩子从相识那天便成为她的朋友，当围在她身边的男孩儿较多时，他会和她走得远些，十天半月来一个电话，问她可好，但是当她身边无人时，他又会出现在她的生活中，近距离地关心着她，陪伴着她，当新的追求者出现，他又会默默地退出。
      //- p 这一切她自然看在眼里，有一次，她问他，为什么这样做？
      //- p 他说，不想让你寂寞。
      //- p 很普通的一句话，让她差点落下泪来。但她却想，真正爱一个人仅仅这样还是不够的。
      //- p 在所有的追求者中，他是最普通的一个：普通的长相，普通的工作，普通的家境，甚至连他的人也是那么普普通通，但却透着平实。
      //- p 然而却是他，从头至尾地陪着她，从青春靓丽的20岁，一直陪伴到28岁，她已经进入到大龄女子的行列
      //- p 她心里认定他或许就是那个陪伴自己一生的人了。但她的心里，还有最后一个问题。这么多年了，她没有谈过一场恋爱，因为她一直在等待那个值得她提出这个问题的人。
      //- p 她语气平缓，仿佛在讲述一个与自己无关的故事：一个女孩儿，在16岁那年，水库边，遇到了歹徒。在她拼命的反抗中，那个歹徒指着水库，对她说，要么跳下去，要么顺从我。在生命和耻辱的选择中，女孩儿最终选择了耻辱。
      //- p 她问他，这个女孩儿的选择正确吗？如果你是她的恋人，你是希望她跳下去淹死呢，还是接受耻辱呢？他心里已经明白，那个女孩儿就是她了，那一刻他才明白这么多年来她为什么一直拒绝着爱情。她说，你不必急着回答我，我给你12个小时，明天再回答我吧，如果不愿意不回答也可以。
      //- p 第二天，他带着一束玫瑰花来了。他说，假如我心爱的人遇到这种情况，我希望她为了我选择生命。和生命相比，贞操又算得了什么？我不能容忍我的爱人因为所谓的贞操离我而去，所以请为我选择生命。
      //- p 她扑在他的怀里哭了。这么多年来，她一直质疑当初自己的选择是否正确，尤其回想起当时那不堪的一幕。但是今天她终于庆幸，她选择了生命。所以她才拥有了这份世上最美丽的爱情。
      //- h3 爱情的胎记
      //- p 他们是大学同学，他爱上了善良温婉的她。唯一美中不足的是她的左脸颊上有一块天生的铜钱般大小的褐色胎记。
      //- p 最初恋爱的时候，她也曾试探着问过他，要不要把这块胎记除去。他气恼地告诉她，他喜欢她的不仅仅是外表，他爱她包括她与生俱来的那块印记。她感动得在他怀里落泪。
      //- p 大学毕业后，他们结了婚，并把他在乡下寡居的老母亲也接了来。他一路从一个小职员渐渐坐上了部门经理的位子。事业有了发展，他的应酬多了。有一次出席一个活动，需要家眷同去。她连妆也没化，穿着平日的一件工作服就去了。满场的华服艳影，她成了一个不那么和谐的音符。
      //- p 第一次，他发现她脸上的那块胎记竟是那样刺眼。
      //- p 那夜他轻声地和她商量，要不，去医院把胎记弄掉吧，也花不了多少钱的。她没有回答，他看不到，她那块胎记上正有泪滑过。
      //- p 次日，女人不见了，他发现了女人留给他的字条：“如果你已经不再爱我，即便我除去胎记又能挽回些什么呢？不如，离婚吧。”男人开始认真思考这个问题。
      //- p 可是，男人很快就发现，凡是他所能想起的，全是女人的好。那一切早就像胎记一般烙印在自己的心底，永远也无法抹去。
      //- p 他唏嘘不已，慌忙赶往岳母家。
      //- p 她见他来，肿着红红的眼，把起草的离婚协议递给他。他一把抓过，狠狠撕毁。然后，他把惊诧不已的女人拥进了怀里。他说：“我们该有个孩子了。”女人又一次落泪了。
      //- p 第二年的冬天，婆婆抱着三个月大的大胖孙子笑得合不拢嘴，并且发现儿媳妇脸上的胎记竟然不见了。男人紧张地解释自己真的不再在意那块胎记。女人却笑了。她甜蜜地依偎在他的怀里说：“既然有没有胎记都不影响你对我的爱，我为什么不选择自己变得美丽一些呢？”他心中释然。
      //- p 原来，爱情是真的能让女人变得美丽的。而同样美丽的，是那些见证了他们一路蹒跚的爱情的胎记。
      //- h3 两只相依相偎的小鸟
      //- p 她长得一点也不好看，眼睛小小的，皮肤黑黑的，脸上满是痘痘。她在这个城市已经生活3年了。她只是一所小医院的护士，每月收入只有1500元，这些钱，在这个城市里只够吃饭租房的，因此，3年来，她没积攒下一点钱。
      //- p 一天，她突然接到父亲的电话，要来这个城市看病。父亲近年来总是腰疼，医生说可能是肾出现了问题，父亲想来这座城市的大医院确诊。
      //- p 她知道父亲不会带多少钱，父亲每年种地挣的钱刚够一年的吃用，家里没有存款，父亲在村里也借不到多少钱。
      //- p 她从没跟父亲说过在城里挣多少钱，每次回家，只对父亲说她在城里生活很好，她不缺钱。
      //- p 她是护士，她知道在这个城市里，病人一旦住院要交多少钱。可是，她翻遍了租住房子的每个角落、每件衣服的口袋，只找到400余元。她在脑中想遍了相熟或不太相熟的有限的朋友、同事，突然发现，她和父亲一样，在这个城里也借不到钱。
      //- p 不是她人缘不好，是要借的钱数额太大了。她一个工资又少，又是不起眼的小护士，别人借她三五百元尚可，谁会一下借给她1万元呢？
      //- p 泪眼迷蒙中，她想到了他。
      //- p 他是她的同乡，是回家过年时在火车上偶然碰到的。他是一名电焊工，在一家造船厂上班。第一次遇见后，他就没断了和她联系，为了和她拉近关系，他还召集了一次同乡会。
      //- p 在那次同乡会上，她有意喝多了，就是不想给他留下好印象。不过，听他说着那些亲热的话，她还是被小小地感动了。
      //- p 聚会结束后，他打车送她回家，怕楼道黑不安全，他一直送她到租住的楼层，帮她用钥匙打开门。他又帮她烧好开水，泡好了茶，看她喝下整整一杯茶，他才关好门，下楼回家。这样的过程中，他没像其他男人那样，借着替她做事之机，碰她这碰她那，这也让她有点小感动。
      //- p 第二天早起，她头有些疼，不想做饭吃，穿好衣服准备上班时，发现桌子上有一大包牛肉干，那是她最爱吃的零食。她知道这牛肉干是他带给她的。将牛肉干一条条撕扯着吃进嘴里时，她知道他是个正派、温和、细心的男人。
      //- p 可是，他却不是她想要嫁的男人。他们都来自乡村，她嫁给他，两家的根都在农村，她几辈子才能洗掉清贫，几辈子才能成为城里人！
      //- p 她和他平淡地交往着，但她打定主意不赴他的饭局，也不和他逛商场、公园，更多的时候他们会在电话里“煲粥”。每次，都是他耐心地听她倾倒她数不尽的烦恼，这一倾倒就是3年。
      //- p 她是和他一起去火车站接父亲的。父亲见到他时，瘦瘦的脸上浮起了笑意，从父亲的眼神中，她知道父亲错把他当做她的“男朋友”了，她不愿意去更正父亲的误解，任由父亲跟在他身后去医院，然后陪着父亲坐在医院的长椅子上，看他跑前跑后挂号，找医生，然后，两人一起陪父亲验血、验尿、拍片
      //- p 这一套检查程序下来，她和他都精疲力竭了，好在父亲并没有大事，只是肾盂肾炎，医生开了些药，父亲就可以回家了。
      //- p 送走父亲从火车站回来，她没让他打车，两人挤挤挨挨地坐着公交车，望着车窗外闪过的城市，她突然泪流满面。
      //- p 他给她擦泪，她没躲闪，说：“2万元要过段时间才能还给你，谢谢你，是你让我在这个城市里还能借到钱。”
      //- p 他的眼圈也红了，说：“我想请你帮我把那笔钱存到银行，然后存折拿在你手里，我怕丢，你愿意吗？
      //- p 她知道他说这话是什么意思，她点点头，应下了他这个要求。
      //- p 她和他都含泪笑了。
      //- p 父亲这一病，让她知道，她虽然生活在这座城市，但她只是一只游离于城市的小鸟。她卑微，融不进这个城市里她向往的那个层面。在这个世界上，除了同样来自乡村的他，也许再也不会有人肯借1万却拿了2万元给她，也不会有人耐心地做她的“垃圾桶”，听她倾倒了3年的不开心。
      //- p 他同样也是游离于城市的小鸟，两只小鸟相偎可以取暖。
      //- p(style="color: #ccc; cursor: pointer;") 以上文章摘自小故事网 http://www.xiaogushi.com，如有文章侵犯作者权利，请联系本站删除!
