mixin footer()
  .footer
    .compmay 
      .foot_l
        h3  一曲相思 --半阳
        img(src="http://p1.music.126.net/yHRY23bKbLJjjbSnE-T8gA==/109951163575213436.jpg", alt="一曲相思   --半阳")
      div
        p 这人间袅袅炊烟
        p 和风花雪月浪漫
        p 痴情人多半贪恋
        p 爱恨情仇的好看
        p 又让你痛不欲生
        p 又让你趁醉装疯
        p 终有天脱胎换骨
        p 直到哭着笑才懂
      div  
        p 欲问青天这人生有几何
        p 怕这去日苦多
        p 往事讨一杯相思喝
        p 倘若这回还像曾经执着
        p 心执念你一个
        p 那我可能是多情了
        p 浊酒一杯余生不悲不喜
        p 何惧爱恨别离
      div
        p 一路纵马去斟酌
        p 一曲相思入江水与山河
        p 在油伞下走过
        p 悠然入梦却恍若昨
        p 这人间袅袅炊烟
        p 和风花雪月浪漫
        p 痴情人多半贪恋
        p 爱恨情仇的好看
      div
        p 又让你痛不欲生
        p 又让你趁醉装疯
        p 终有天脱胎换骨
        p 直到哭着笑才懂
        p 欲问青天这人生有几何
        p 怕这去日苦多
        p 往事讨一杯相思喝
        p 倘若这回还像曾经执着
      div
        p 心执念你一个
        p 那我可能是多情了
        p 浊酒一杯余生不悲不喜
        p 何惧爱恨别离
        p 一路纵马去斟酌
        p 一曲相思入江水与山河
        p 在油伞下走过
        p 悠然入梦却恍若昨
    .beian
      img(src="/static/images/beian.png", alt="公安备案图标") 
      span.footer_hide Copyright © 2018-2019 安于她命 
      a.footer_hide(href="http://anyutaming.cn") anyutaming.cn 
      span.footer_hide All Rights Reserved. 
      span 皖公网安备 34062102050006号
